.page-hero {
    padding: 253px 0 63px 0;
    // .page-hero__title
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(10, 11, 12, 0.85) 0%, rgba(10, 11, 12, 0.85) 100%);
    }
    &__title {
        margin-top: 40px;
        width: 85%;
        color: var(--color_gold);
        font-family: Oswald;
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: 117%; /* 117px */
        text-transform: uppercase;
    }
}
.container {
    position: relative;
    z-index: 2;
}
.breadcrumbs {
    & ul{
        display: flex;
        align-items: center;
        gap: 10px;
        & li{
            gap: 10px;
            display: flex;
            align-items: center;
            & a{
                font-family: Inter;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%; /* 29.7px */
                color: var(--color_white);
            }
            & a.this-element{
                color: rgba(255, 255, 255, 0.60);
            }
        }
    }
}
.this-element {
}
