.proposal-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 108px;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
    // .proposal-banner__inner
    padding: 115px 0;
    &__inner {
        position: relative;
        z-index: 1;
    }

    // .proposal-banner__descr

    &__descr {
        margin-top: 40px;
        color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        width: 47%;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 36px */
    }

    // .proposal-banner__buttons

    &__buttons {
        display: flex;
        gap: 14px;
        margin-top: 40px;
    }

    // .proposal-banner__btn

    &__btn {
        padding: 27px 66px;
    }
}
.home-page{
    & .proposal-banner{
        margin-bottom: 0;
    }
}