.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .4s;
    &-burger{
        width: 20px;
        display: none;
        height: 8px;
        cursor: pointer;
        position: relative;
        &.active{
            & span{
                transition: all .3s;
                &:nth-child(1){
                    width: 100%;
                }
                &:nth-child(2){
                    width: 11px;
                }
            }
        }
        & span{
            position: absolute;
            background-color: #fff;
            height: 1px;
          
            &:nth-child(1){
                width: 11px;
                right: 0;
            }
            &:nth-child(2){
                bottom: 0;
                width: 100%;
            }
        }
    }
    &.active{
        background:#000000b5;
    }
    // .header__logo
    &__inner{
        display: flex;
        padding: 37px 0;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        & h2{
            color: var(--color_gold);
            font-family: "Oswald";
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 107.5%; 
        }
        & span{
            color: var(--color_white);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; /* 24.3px */
        }
    }

    // .header__nav

    &__nav {
        &__mobile{
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(29, 29, 27, 0.9);
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 0;
            top: 0;
            overflow-y: scroll;
            transform: translateX(-100%);
            visibility: hidden;
            transition: all .3s;
            & .header-actions__contacts{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
            }
            &.active{
                visibility: visible;
                transform: translateX(0);
            }
            & ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                flex-direction: column;
                & a{
                    font-size: 36px;
                    color: var(--color_white);
                    transition: all .3s linear;
                    &:hover{
                        color: var(--color_gold);
                    }
                }
            }
            // display: none;

        }
        & ul{
            display: flex;
            align-items: center;
            gap: 34px;
            & a{
                color: var(--color_white);
                font-family: "Inter";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%; /* 29.7px */
                transition: all .2s linear;
                &:hover{
                    color: #8c8b8b;
                }
            }
        }
    }
    &-actions {
        display: flex;
        align-items: center;
        gap: 27px;
        // .header-actions__socials
    
        &__socials {
            display: flex;
            align-items: center;
            gap: 14px;
            &__item{
                background-color: rgba(255, 255, 255, 0.13);
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
                transition: all .2s linear;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.317);
                }
            }
        }
    
        // .header-actions__contacts
    
        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            & a{
                color: var(--color_gold);
                font-family: Oswald;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 135%; /* 29.7px */
            }
            & span{
                color: rgba(255, 255, 255, 0.80);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 135%; /* 18.9px */
            }
        }
    }
}
