<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__info">
                <h2 class="about__title title title-mb-40">
                    Общий стаж работы
                    с уголовными делами
                    <span>более 20 лет.</span>
                </h2>
                <div class="about__descr">
                    <p>После окончания специализированного ВУЗа МВД в 2000 году я приступил к практической работе в
                        полиции. В 2002 году я был переведен в следственную службу, где прошел путь от следователя
                        районного отдела полиции до старшего следователя по особо важным делам областного департамента
                        внутренних дел.</p>
                    <p>
                        Общий срок моей работы в следственных подразделениях МВД составляет 13 лет. За этот период я
                        расследовал множество разных уголовных дел, среди которых были убийства, бандитизм, преступления
                        в составе ОПГ. Неоднократно мне приходилось расследовать уголовные дела о хищениях: кражи,
                        мошенничества, присвоения и растраты вверенного имущества, грабежи и разбойные нападения.
                        Расследовал уголовные дела в отношении медицинских работников и многое другое.
                    </p>
                    <p>
                        В 2015 году я получил государственную лицензию на занятие адвокатской деятельностью и с того
                        времени стал работать адвокатом. Учитывая следовательское прошлое, я избрал основным
                        направлением для своей адвокатской деятельности работу по уголовным делам. Мой опыт позволяет
                        мне успешно защищать своих клиентов в уголовных делах, поскольку работу следователя я знаю
                        изнутри и понимаю наперед, какие действия он будет предпринимать в той или иной ситуации.
                    </p>
                    <blockquote>
                        Также я успешно представляю интересы потерпевших по уголовным делам, поскольку точно знаю, какая
                        стратегия расследования будет наиболее результативной для моего клиента. 
                    </blockquote>
                </div>
                <button href="" class="modal__btn btn about__btn">Оставить заявку
                    <img src="images/arrow-white.svg" alt="">
                </button>
            </div>
            <!-- Slider main container -->
            <div class="swiper about__images">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="images/about-img-1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/mission-img.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/about-img-1.jpg" alt=""></div>
                    ...
                </div>
                <!-- If we need pagination -->
                <div class="about-pagination swiper-pagination"></div>

            </div>
        </div>
    </div>
</section>