<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="header__logo">
                <h2>Ринат Мороз</h2>
                <span>адвокат по уголовным делам</span>
            </a>
            <nav class="header__nav">
                <ul>
                    <li><a href="">О себе</a></li>
                    <li><a href="">Услуги</a></li>
                    <li><a href="">Из моей практики</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">Блог</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </nav>
            <nav class="header__nav__mobile">
                <ul>
                    <li><a href="">О себе</a></li>
                    <li><a href="">Услуги</a></li>
                    <li><a href="">Из моей практики</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">Блог</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
                <div class="header-actions__contacts">
                    <a href="tel:+77772987271">+ 7 777 298 72 71</a>
                    <span>пр. Республики, 24, офис 609</span>
                </div>
            </nav>
            <div class="header-actions">
                <div class="header-actions__socials">
                    <a class="header-actions__socials__item">
                        <img src="images/inst-icon.svg" alt="">
                    </a>
                    <a class="header-actions__socials__item">
                        <img src="images/facebook-icon.svg" alt="">
                    </a>
                </div>
                <div class="header-actions__contacts">
                    <a href="tel:+77772987271">+ 7 777 298 72 71</a>
                    <span>пр. Республики, 24, офис 609</span>
                </div>
            </div>
            <div class="header-burger">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>