<section class="how-work">
    <div class="container">
        <div class="how-work__inner">
            <h2 class="title how-work__title">Как <span>я работаю</span></h2>
            <p class="how-work__descr">
                Записаться на консультацию Вы можете, позвонив по телефону 87772987271 ежедневно с 09:00 часов до 22:00
                часов, либо, написав в WhatsApp на этот же номер в любое время суток.
            </p>
            <p class="how-work__descr">
                Если удобно, можно отправлять голосовые сообщения в WhatsApp.
            </p>
            <a href="" class="btn how-work__btn">Перейти в WhatsApp <img src="images/btn-arrow.svg" alt=""></a>
        </div>
    </div>
</section>