<div class="pagination">
    <ul>
        <li class="pagination--active">
            <a href="">1</a>
        </li>
        <li>
            <a href="">2</a>
        </li>
        <li>
            <a href="">3</a>
        </li>
        <li>
            <a href="">4</a>
        </li>
        <li>
            <a href="">...</a>
        </li>
        <li>
            <a href="">25</a>
        </li>
        <li class="pagination__next">
            <a href=""><img src="images/arrow-white.svg" alt=""></a>
        </li>
    </ul>
</div>