<section class="blog">
    <div class="container">
        <div class="blog-items">
            <article class="blog-item">
                <div class="blog-item__img">
                    <a href="blog-single.html">
                        <img src="images/blog-img-1.jpg" alt="article-img">
                    </a>
                </div>
                <a href="blog-single.html">
                    <h2 class="blog-item__title">Почему к адвокату нужно обращаться сразу?</h2>
                </a>
                <a href="blog-single.html" class="blog-item__more more">Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                        <path
                            d="M0.499922 9.00008L23.5011 9.00111M23.5011 9.00111L15.5307 1.03071M23.5011 9.00111L15.5306 16.9716"
                            stroke="#BA9153" stroke-width="2" />
                    </svg>
                </a>
            </article>
            <article class="blog-item">
                <div class="blog-item__img">
                    <a href="blog-single.html"><img src="images/blog-img-2.jpg" alt="article-img"></a>
                </div>
                <a href="blog-single.html">
                    <h2 class="blog-item__title">Почему к адвокату нужно обращаться сразу?</h2>
                </a>
                <a href="blog-single.html" class="blog-item__more more">Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                        <path
                            d="M0.499922 9.00008L23.5011 9.00111M23.5011 9.00111L15.5307 1.03071M23.5011 9.00111L15.5306 16.9716"
                            stroke="#BA9153" stroke-width="2" />
                    </svg>
                </a>
            </article>
            <article class="blog-item">
                <div class="blog-item__img">
                    <a href="blog-single.html">
                        <img src="images/blog-img-3.jpg" alt="article-img">
                    </a>
                </div>
                <a href="blog-single.html">
                    <h2 class="blog-item__title">Почему к адвокату нужно обращаться сразу?</h2>
                </a>
                <a href="blog-single.html" class="blog-item__more more">Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                        <path
                            d="M0.499922 9.00008L23.5011 9.00111M23.5011 9.00111L15.5307 1.03071M23.5011 9.00111L15.5306 16.9716"
                            stroke="#BA9153" stroke-width="2" />
                    </svg>
                </a>
            </article>
            <article class="blog-item">
                <div class="blog-item__img">
                    <a href="blog-single.html"><img src="images/blog-img-4.jpg" alt="article-img"></a>
                </div>
                <a href="blog-single.html">
                    <h2 class="blog-item__title">Почему к адвокату нужно обращаться сразу?</h2>
                </a>
                <a href="blog-single.html" class="blog-item__more more">Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                        <path
                            d="M0.499922 9.00008L23.5011 9.00111M23.5011 9.00111L15.5307 1.03071M23.5011 9.00111L15.5306 16.9716"
                            stroke="#BA9153" stroke-width="2" />
                    </svg>
                </a>
            </article>
            <article class="blog-item">
                <div class="blog-item__img">
                    <a href="blog-single.html">
                        <img src="images/blog-img-3.jpg" alt="article-img">
                    </a>
                </div>
                <a href="blog-single.html">
                    <h2 class="blog-item__title">Почему к адвокату нужно обращаться сразу?</h2>
                </a>
                <a href="blog-single.html" class="blog-item__more more">Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                        <path
                            d="M0.499922 9.00008L23.5011 9.00111M23.5011 9.00111L15.5307 1.03071M23.5011 9.00111L15.5306 16.9716"
                            stroke="#BA9153" stroke-width="2" />
                    </svg>
                </a>
            </article>
            <article class="blog-item">
                <div class="blog-item__img">
                    <a href="blog-single.html"><img src="images/blog-img-4.jpg" alt="article-img"></a>
                </div>
                <a href="blog-single.html">
                    <h2 class="blog-item__title">Почему к адвокату нужно обращаться сразу?</h2>
                </a>
                <a href="blog-single.html" class="blog-item__more more">Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                        <path
                            d="M0.499922 9.00008L23.5011 9.00111M23.5011 9.00111L15.5307 1.03071M23.5011 9.00111L15.5306 16.9716"
                            stroke="#BA9153" stroke-width="2" />
                    </svg>
                </a>
            </article>
        </div>
        @@include('../pagination.html')
    </div>
</section>