<section class="blog-single">
    <div class="container">
        <div class="blog-single__inner">
            <div class="blog-single__info">
                <p>Не так давно ко мне обратился клиент, которого подозревали в серьезном преступлении. Клиент сообщил,
                    что уже неоднократно был на допросах у следователя.На вопрос, почему сразу не обратился к адвокату
                    по уголовным делам, клиент ответил, что правда на его стороне, и он думал, что следователь во всем
                    разберется и прекратит дело. А теперь он понимает, что следователь намерен в ближайшее время
                    предъявить ему обвинение и передать дело в суд.</p>
                <p>Вступив в дело, я увидел, что клиент подписал у следователя множество разных документов, которые
                    действительно позволяли предъявить ему обвинение. Он подписал даже отказ от «дежурного» адвоката. На
                    мой вопрос, как это произошло, клиент толком ничего не смог объяснить.</p>
                <p>Так часто случается, когда человек экономит на адвокате и думает, что сам справится с уголовным
                    делом. Но выходит все наоборот, он только усугубляет эту проблему, делая множество ошибок, которые
                    потом или трудно исправлять, или вообще невозможно ничего сделать.С большим трудом я исправил эту
                    ситуацию и помог своему клиенту доказать его невиновность, а ведь все могло закончиться совсем
                    по-другому.Напоследок такая рекомендация: если вас вызывают в полицию и подозревают в совершении
                    чего-то незаконного, безусловно, нужно сразу обратиться к адвокату по уголовным делам и нанять его в
                    качестве защитника до полного решения этой проблемы. </p>
                <p>Это самый идеальный вариант.Но, если по каким-то причинам вы не можете нанять адвоката для участия в
                    деле, то хотя бы проконсультируйтесь у него перед тем, как пойти в полицию, чтобы не наделать
                    ошибок, которые потом не исправишь.</p>
            </div>
            <div class="blog-single__sidebar">
                <div class="blog-single__img">
                    <img src="images/blog-img-1.jpg" alt="">
                </div>
                <aside class="blog-single__socials">
                    <h2 class="blog-single__socials__title">Поделитесь интересной статьей в соц сетях</h2>
                    <p class="blog-single__socials__descr">Чтобы поделиться с друзьями интересными сведениями, выберетие
                        нужную социальную сеть ниже.</p>
                    <div class="blog-single__socials__items">
                        <a href="" class="blog-single__socials__item">
                            <img src="images/inst-social-icon.svg" alt="">
                        </a>
                        <a href="" class="blog-single__socials__item">
                            <img src="images/facebook-social-icon.svg" alt="">
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>