<section class="services-single">
    <div class="container">
        <div class="services-single__inner">
            <div class="services-single__info">
                <p>Не так давно ко мне обратился клиент, которого подозревали в серьезном преступлении. Клиент сообщил,
                    что уже неоднократно был на допросах у следователя.На вопрос, почему сразу не обратился к адвокату
                    по уголовным делам, клиент ответил, что правда на его стороне, и он думал, что следователь во всем
                    разберется и прекратит дело. А теперь он понимает, что следователь намерен в ближайшее время
                    предъявить ему обвинение и передать дело в суд.</p>
                <a href="#" class="modal__info__open services-single__more services__item__more">Читать далее
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                        <path
                            d="M0.499797 8.99995L23.5011 9.00111M23.5011 9.00111L15.5306 1.03062M23.5011 9.00111L15.5306 16.9716"
                            stroke="#BA9153" stroke-width="2" />
                    </svg>
                </a>
            </div>

            <div class="services-single__img">
                <img src="images/single-services-img.jpg" alt="">
            </div>
        </div>
    </div>
</section>