<section class="services-single">
    <div class="container">
        <div class="services__inner">
            <div class="services-single__items">
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">01</div>
                        <h3 class="services-single__item__title">Адвокат по убийству</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">02</div>
                        <h3 class="services-single__item__title">Адвокат по хищениям</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">03</div>
                        <h3 class="services-single__item__title">Адвокат по растрате вверенного имущества</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">04</div>
                        <h3 class="services-single__item__title">Адвокат по краже</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">05</div>
                        <h3 class="services-single__item__title">Адвокат по взятке</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">06</div>
                        <h3 class="services-single__item__title">Адвокат по экономическим преступлениям</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">07</div>
                        <h3 class="services-single__item__title">Адвокат по коррупционным преступлениям</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">08</div>
                        <h3 class="services-single__item__title">Адвокат по мошенничеству</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">09</div>
                        <h3 class="services-single__item__title">Адвокат по наркотикам</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">10</div>
                        <h3 class="services-single__item__title">Адвокат по ДТП</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services-single__item">
                    <div class="services-single__item__info">
                        <div class="services-single__item__num">11</div>
                        <h3 class="services-single__item__title">Адвокат по медицинским правонарушениям</h3>
                    </div>
                    <a href="#" class="modal__info__open services-single__more services__item__more">Подробнее
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M-0.000203335 8.99995L23.0011 9.00111M23.0011 9.00111L15.0306 1.03062M23.0011 9.00111L15.0306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
            </div>
            <button class="services-single__items__btn modal__btn btn">Оставить заявку
                <img src="images/arrow-white.svg" alt="">
            </button>
        </div>
    </div>
</section>