.blog {
    padding: 80px 0 170px 0;
}
.container {
}
.blog-items {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 30px;
}
.blog-item {
        width: calc((100% / 3) - 20px);
		// .blog-item__img

		&__img {
            width: 100%;
            height: 393px;
            overflow: hidden;
            position: relative;
            z-index: 2;
            &:hover img{
                transform: scale(1.05);
            }
            & a{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    background: linear-gradient(0deg, rgba(29, 29, 27, 0.30) 0%, rgba(29, 29, 27, 0.30) 100%);
                }
            }
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .2s;
                
            }
		}

		// .blog-item__title

		&__title {
            color: var(--color_white);
            margin-top: 30px;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 44.8px */
            transition: all .3s linear;
            &:hover{
                color: rgba(255, 255, 255, 0.30);
            }
		}

		// .blog-item__more

		&__more {
            margin-top: 35px;
		}
}
.more {
}
