<section class="contacts">
    <div class="map">
        <iframe id="map_524207489" frameborder="0" width="100%" height="675px"
            sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>

    </div>
    <div class="container">
        <div class="contacts__inner">
            <h2 class="contacts__title title">РАСПОЛОЖЕНИЕ МОЕГО ОФИСА</h2>
            <p class="contacts__descr">
                Запишитесь на консультацию по телефону <a href="tel:87772987271">87772987271</a> или оставьте заявку.
                Консультации платные.
            </p>
            <a href="" class="modal__btn btn contacts__btn">Оставить заявку
                <img src="images/arrow-white.svg" alt="">
            </a>
        </div>
    </div>
</section>