<div class="hero">
    <div class="container">
        <div class="hero__inner">
            <h1 class="hero__title">Адвокат<br>по уголовным делам в г. Астана</h1>
            <p class="hero__subtitle">Стаж работы по уголовным делам более 20 лет</p>
            <button class="modal__btn btn hero__btn">Оставить заявку
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M4.4998 18L27.5011 18.0011M27.5011 18.0011L19.5306 10.0306M27.5011 18.0011L19.5306 25.9716"
                        stroke="white" stroke-width="2" />
                </svg>
            </button>
        </div>
    </div>
    <!-- Slider main container -->
    <div class="hero__slider swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="hero__slide swiper-slide">
                <img src="images/hero-bg.jpg" alt="">
            </div>
            <div class="hero__slide swiper-slide">
                <img src="images/hero-bg-2.jpg" alt="">
            </div>
            <div class="hero__slide swiper-slide">
                <img src="images/hero-bg.jpg" alt="">
            </div>
        </div>
    </div>
</div>