<div class="hero">
    <div class="container">
        <div class="hero__inner">
            <h1 class="hero__title">Адвокат<br>по уголовным делам в г. Астана</h1>
            <p class="hero__subtitle">Стаж работы по уголовным делам более 20 лет</p>
            <button class="modal__btn btn hero__btn">Оставить заявку
                <img src="images/arrow-white.svg" alt="">
            </button>
        </div>
    </div>
    <!-- Slider main container -->
    <div class="hero__slider swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="hero__slide swiper-slide">
                <img src="images/hero-bg.jpg" alt="">
            </div>
            <div class="hero__slide swiper-slide">
                <img src="images/hero-bg-2.jpg" alt="">
            </div>
            <div class="hero__slide swiper-slide">
                <img src="images/hero-bg.jpg" alt="">
            </div>
        </div>
    </div>
</div>