<section class="inst">
    <div class="container">
        <div class="inst__inner">
            <div class="inst__info">
                <div class="inst__title title">Подпишитесь на мой instagram аккаунт
                    <a href="">@advokat_rinat_moroz</a>
                </div>
                <p class="inst__descr">
                    Рассказываю о том, как защитить свои права, не стать жертвой злоумышленников, о реальных уголовных
                    делах и других интересных вещах.
                </p>
                <a href="" class="btn inst__btn">Подписаться
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                        <path
                            d="M4.9998 18L28.0011 18.0011M28.0011 18.0011L20.0306 10.0306M28.0011 18.0011L20.0306 25.9716"
                            stroke="#fff" stroke-width="2" />
                    </svg>
                </a>
            </div>
            <div class="inst__profile">
                <div class="inst__profile__text">
                    <img src="images/text-circle.svg" alt="">
                </div>
                <img src="images/inst-profile-img.png" class="inst__profile__img" alt="">
            </div>
        </div>
    </div>
</section>