<section class="mission">
    <div class="container">
        <div class="mission__inner">
            <div class="mission__img">
                <img src="images/mission-img.jpg" alt="">
            </div>
            <div class="mission__text">
                <h2 class="mission__title title title-mb-40">МОРОЗ РИНАТ ЛЕОНИДОВИЧ</h2>
                <p class="mission__descr">
                    Общий стаж работы с уголовными делами более 20 лет.
                    Имеется большой опыт работы следователем МВД.
                    Расследовал сложные уголовные дела, среди которых были хищения, убийства, дела в отношении
                    медицинских работников и многое другое.
                </p>
                <p class="mission__descr">Все эти знания и опыт теперь успешно применяются в адвокатской деятельности.
                </p>
                <a href="about.html" class="btn mission__btn">Подробнее
                    <img src="images/arrow-white.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>