<section style="background-image: url(images/proposal-banner-img.jpg);" class="proposal-banner">
    <div class="container">
        <div class="proposal-banner__inner">
            <h2 class="title title-mb-40">ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ</h2>
            <p class="proposal-banner__descr">Записаться на консультацию Вы можете, позвонив по телефону 87772987271
                ежедневно с 09:00 часов до 22:00 часов, либо написав в WhatsApp на этом номере. 
                <br>Также можно записаться на консультацию путем оставления заявки на этом сайте.
                Консультации платные. </p>
            <div class="proposal-banner__buttons">
                <button class="modal__btn btn proposal-banner__btn">Оставить заявку
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <path
                            d="M4.4998 18L27.5011 18.0011M27.5011 18.0011L19.5306 10.0306M27.5011 18.0011L19.5306 25.9716"
                            stroke="white" stroke-width="2" />
                    </svg>
                </button>
                <a href="" class="btn btn-transparent proposal-banner__btn">Перейти в WhatsApp <svg
                        xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                        <path
                            d="M4.9998 18L28.0011 18.0011M28.0011 18.0011L20.0306 10.0306M28.0011 18.0011L20.0306 25.9716"
                            stroke="#BA9153" stroke-width="2" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>