<section style="background-image: url(images/reviews-img.jpg)" class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <div class="reviews__header">
                <h2 class="reviews__title title">Отзывы клиентов</h2>
                <a href="" class="btn reviews__btn">Ещё отзывы
                    <img src="images/arrow-white.svg" alt="">
                </a>
            </div>
            <div class="reviews__items">
                <div class="reviews__item">
                    <h3 class="reviews__item__title">
                        Айгерим Монасова
                    </h3>
                    <p class="reviews__item__descr">
                        Комплексный анализ проблемы и грамотная стратегия ее решения – наше конкурентное преимущество и
                        залог вашего успеха. Комплексный анализ проблемы и грамотная стратегия ее решения – наше
                        конкурентное преимущество и залог вашего успеха. Комплексный анализ проблемы и грамотная
                        стратегия ее решения – наше конкурентное преимущество и залог вашего успеха.
                    </p>
                </div>
                <div class="reviews__item">
                    <h3 class="reviews__item__title">
                        Айгерим Монасова
                    </h3>
                    <p class="reviews__item__descr">
                        Комплексный анализ проблемы и грамотная стратегия ее решения – наше конкурентное преимущество и
                        залог вашего успеха. Комплексный анализ проблемы и грамотная стратегия ее решения – наше
                        конкурентное преимущество и залог вашего успеха. Комплексный анализ проблемы и грамотная
                        стратегия ее решения – наше конкурентное преимущество и залог вашего успеха.
                    </p>
                </div>
                <div class="reviews__item">
                    <h3 class="reviews__item__title">
                        Айгерим Монасова
                    </h3>
                    <p class="reviews__item__descr">
                        Комплексный анализ проблемы и грамотная стратегия ее решения – наше конкурентное преимущество и
                        залог вашего успеха. Комплексный анализ проблемы и грамотная стратегия ее решения – наше
                        конкурентное преимущество и залог вашего успеха. Комплексный анализ проблемы и грамотная
                        стратегия ее решения – наше конкурентное преимущество и залог вашего успеха.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>