<section class="services">
    <div class="container">
        <div class="services__inner">
            <h2 class="services__title title title-mb-60">Услуги</h2>
            <div class="services__items">
                <div class="services__item">
                    <div class="services__item__num">
                        01
                    </div>
                    <a href="services.html">
                        <h3 class="services__item__title">Консультация по уголовному делу</h3>
                    </a>
                    <a href="services.html">
                        <p class="services__item__descr">Комплексный анализ проблемы и грамотная стратегия ее решения –
                            наше
                            конкурентное преимущество и залог вашего успеха.</p>
                    </a>
                    <a href="services.html" class="services__item__more">Узнать больше
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M0.499797 8.99995L23.5011 9.00111M23.5011 9.00111L15.5306 1.03062M23.5011 9.00111L15.5306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services__item">
                    <div class="services__item__num">
                        02
                    </div>
                    <a href="services.html">
                        <h3 class="services__item__title">Представление интересов потерпевшего</h3>
                    </a>
                    <a href="services.html">
                        <p class="services__item__descr">Комплексный анализ проблемы и грамотная стратегия ее решения –
                            наше
                            конкурентное преимущество и залог вашего успеха.</p>
                    </a>
                    <a href="services.html" class="services__item__more">Узнать больше
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M0.499797 8.99995L23.5011 9.00111M23.5011 9.00111L15.5306 1.03062M23.5011 9.00111L15.5306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services__item services__item__img">
                    <img src="images/services-img-1.jpg" alt="">
                </div>
                <div class="services__item">
                    <div class="services__item__num">
                        03
                    </div>
                    <a href="services.html">
                        <h3 class="services__item__title">Участие на допросе, очной ставке</h3>
                    </a>
                    <a href="services.html">
                        <p class="services__item__descr">Комплексный анализ проблемы и грамотная стратегия ее решения –
                            наше
                            конкурентное преимущество и залог вашего успеха.</p>
                    </a>
                    <a href="services.html" class="services__item__more">Узнать больше
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M0.499797 8.99995L23.5011 9.00111M23.5011 9.00111L15.5306 1.03062M23.5011 9.00111L15.5306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services__item">
                    <div class="services__item__num">
                        04
                    </div>
                    <a href="services.html">
                        <h3 class="services__item__title">Составление ходатайства, заявления</h3>
                    </a>
                    <a href="services.html">
                        <p class="services__item__descr">Комплексный анализ проблемы и грамотная стратегия ее решения –
                            наше
                            конкурентное преимущество и залог вашего успеха.</p>
                    </a>
                    <a href="services.html" class="services__item__more">Узнать больше
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M0.499797 8.99995L23.5011 9.00111M23.5011 9.00111L15.5306 1.03062M23.5011 9.00111L15.5306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services__item">
                    <div class="services__item__num">
                        05
                    </div>
                    <a href="services.html">
                        <h3 class="services__item__title">Ознакомление с уголовным делом</h3>
                    </a>
                    <a href="services.html">
                        <p class="services__item__descr">Комплексный анализ проблемы и грамотная стратегия ее решения –
                            наше
                            конкурентное преимущество и залог вашего успеха.</p>
                    </a>
                    <a href="services.html" class="services__item__more">Узнать больше
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M0.499797 8.99995L23.5011 9.00111M23.5011 9.00111L15.5306 1.03062M23.5011 9.00111L15.5306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services__item">
                    <div class="services__item__num">
                        06
                    </div>
                    <a href="services.html">
                        <h3 class="services__item__title">Защита подозреваемого, обвиняемого, подсудимого</h3>
                    </a>
                    <a href="services.html">
                        <p class="services__item__descr">Комплексный анализ проблемы и грамотная стратегия ее решения –
                            наше
                            конкурентное преимущество и залог вашего успеха.</p>
                    </a>
                    <a href="services.html" class="services__item__more">Узнать больше
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M0.499797 8.99995L23.5011 9.00111M23.5011 9.00111L15.5306 1.03062M23.5011 9.00111L15.5306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
                <div class="services__item services__item__img">
                    <img src="images/services-img-2.jpg" alt="">
                </div>
                <div class="services__item">
                    <div class="services__item__num">
                        07
                    </div>
                    <a href="services.html">
                        <h3 class="services__item__title">Обжалование действий и решений следователя, прокурора</h3>
                    </a>
                    <a href="services.html">
                        <p class="services__item__descr">Комплексный анализ проблемы и грамотная стратегия ее решения –
                            наше
                            конкурентное преимущество и залог вашего успеха.</p>
                    </a>
                    <a href="services.html" class="services__item__more">Узнать больше
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="18" viewBox="0 0 25 18" fill="none">
                            <path
                                d="M0.499797 8.99995L23.5011 9.00111M23.5011 9.00111L15.5306 1.03062M23.5011 9.00111L15.5306 16.9716"
                                stroke="#BA9153" stroke-width="2" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>